/CSharpFundamentals/204.TribonacciSequence/bin
/CSharpFundamentals/204.TribonacciSequence/obj
/CSharpFundamentals/02.Grades/bin
/CSharpFundamentals/02.Grades/obj
/CSharpFundamentals/Arrays 1/08.ArrayToNum/obj
